@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  @apply min-h-screen ;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}

/* Hide number input arrows in all browsers */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}



